.btn{
    width: 275px;
    height: 50px;
    border-radius: 15px;
    background-color: map-get($map: $colors, $key: color-four);
    display: flex;
    position: relative;
    border: none;
    margin: 10px 0;
    @include boxShadow;
    cursor: pointer;
    transition: all 0.2s ease-in-out;

    
    &__order{
        position: absolute;
        left: -10px;
        top: 15px;
        width: 20px;
        height: 20px;
        border-radius: 100%;
        color: white;
        background-color: map-get($map: $colors, $key: color-one); 
        @include flexcenter;
    }
 
    i{
        position: absolute;
        top: 17px;
        bottom: 0;
        left: 25px;
        color: grey;
    }

    &__text{
        position: absolute;
        top: 17px;
        left: 55px;
        font-size: 15px;
    }

}

.btn:hover{
    background-color: $lighten;
    transform: scale(1.1);

    i{
        color: map-get($map: $colors, $key: color-one);
    }
}





.card{
    @include boxShadow;
    border-radius: 25px;
    position: relative;
    margin: 20px 0;
    transition: transform 0.2s ease-in-out;

    &__flag{
        position: absolute;
        top: 10px;
        right: 22px;
        width: 80px;
        height: 24px;
        background-color: map-get($map: $colors, $key: color-three);
        border-radius: 5px;

        p{
            color: darken($color: map-get($map: $colors, $key: color-three), $amount: 50%) !important;
            font-size: 15px;
        }
    }

    a{
        text-decoration: none;
    }

    h3,p{
        color: black;
        padding-left: 10px;
        padding-top: 2px;
    }

    h3{
        font-weight: bold;
    }

    img{
        object-fit: cover;
        object-position: center;
        width: 100%;
        height: 180px;
        border-radius: 25px 25px 0 0;
    }

    .heart__checkbox{
        position: absolute;
        bottom: 7%;
        right: 4%;
    }

    figcaption{
        height: 50px;
    }

}

.card:hover{
    transform: scale(1.1);
}


/****COEUR****/

.heart__checkbox{
    position: relative;
    width: 22px;
    height: 22px;
    font-size: 22px;
}

.heart--empty{
    position: absolute;
    width: 22px;
    height: 22px;
    font-size: 22px;
    color: black;
}

.heart--fill{
    position: absolute;
    width: 22px;
    height: 22px;
    font-size: 22px;
    opacity: 0;
    transition-duration: 0.5s;
    background: -webkit-gradient(linear, left top, left bottom, from(map-get($map: $colors, $key: color-one)), to(map-get($map: $colors, $key: color-two)));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

input {
    position: absolute;
    width: 22px;
    height: 22px;
    opacity: 0;
    cursor: pointer;
    z-index: 10;
}

input:checked ~ .fa-regular {
    transition-duration: 0.5s;
    opacity: 0;
  }

  input:checked ~ .fas {
    transition-duration: 0.5s;
    opacity: 1;
  }


  /****LOADING SPINNER****/

  
.loadingSpinner{
    position: fixed;
    @include flexcenter;
    width: 100%;
    height: 100%;
    z-index: 20;
    background-color: map-get($map: $colors, $key: color-four);
    animation-name: loader;
    animation-duration: .5s;
    animation-delay: 1.75s;
    animation-fill-mode: both;

    @keyframes loader {
        100%{
            opacity: 0;
            z-index:-10;
        }
    }
}


  .lds-ripple {
    display: inline-block;
    position: relative;
    width: 80px;
    height: 80px;
  }
  .lds-ripple div {
    position: absolute;
    border: 4px solid map-get($map: $colors, $key: color-one);
    opacity: 1;
    border-radius: 50%;
    animation: lds-ripple 1s cubic-bezier(0, 0.2, 0.8, 1) infinite;
  }
  .lds-ripple div:nth-child(2) {
    animation-delay: -0.5s;
  }
  @keyframes lds-ripple {
    0% {
      top: 36px;
      left: 36px;
      width: 0;
      height: 0;
      opacity: 0;
    }
    4.9% {
      top: 36px;
      left: 36px;
      width: 0;
      height: 0;
      opacity: 0;
    }
    5% {
      top: 36px;
      left: 36px;
      width: 0;
      height: 0;
      opacity: 1;
    }
    100% {
      top: 0px;
      left: 0px;
      width: 72px;
      height: 72px;
      opacity: 0;
    }
  }
  

  /****BOUTON DES PLATS****/

.dishe{
    width: 350px;
    height: 60px;
    border-radius: 10px;
    display: flex;
    overflow: hidden;
    max-width: 100%;
    cursor: pointer;
    border: none;
    appearance: none;
    text-align: unset;
    align-items: center;
    padding: initial;
    writing-mode: unset;
    margin: 10px 0;
    @include boxShadow;
    background-color: white;

    &__description {
        width: 100%;
        display: flex;
        max-width: 100%;
        overflow: hidden;
    }

    &__icone {
        width: 100px;
        height: 100%;
        background: map-get($map: $colors, $key: color-three);
        @include flexcenter;
        margin-right: -100px;
        transition-duration: 0.5s;
        transition-timing-function: ease;
    }

    &:hover .dishe__icone {
        margin-right: 0;
        transition-duration: 0.5s;
        transition-timing-function: ease;
    }

    &:hover .dishe__icone i{
        transform: rotate(0);       
    }
}

.dishe__text {
    width: 100%;
    margin-left: 10px;
    max-width: 100%;
    overflow: hidden;
}

.dishe__price {
    display: flex;
    align-items: flex-end;
    margin-bottom: 5px;
    margin-right: 8px;
    margin-left: 5px;
    max-width: 100%;
}

.dishe__icone > i {
    color: map-get($map: $colors, $key: color-three);
    padding: 5px;
    border-radius: 50%;
    background: white;
    transform: rotate(-300deg);
    transition: transform 0.5s;
}

.dishe__text > *{
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    max-width: 100%;
    padding-bottom: 2px;
  }


.order__link{
    @extend .presentation__link;
}
