

.btn{
    width: 250px;
    height: 50px;
    border-radius: 15px;
    background-color: map-get($map: $colors, $key: color-four);
    display: flex;
    position: relative;
    border: none;
    
    &__order{
        position: absolute;
        left: -10px;
        top: 15px;
        width: 20px;
        height: 20px;
        border-radius: 100%;
        color: white;
        background-color: map-get($map: $colors, $key: color-one); 
        @include flexcenter;
    }

    
    i{
        position: absolute;
        top: 15px;
        bottom: 0;
        left: 20px;
    }

    &__text{
        position: absolute;
        top: 15px;
        left: 40px;
    }


}


.card{
    border: 1px solid map-get($map: $colors, $key: color-four);
    border-radius: 15px;
    position: relative;

    a{
        text-decoration: none;
    }

    h3,p{
        padding: 1%;
    }

    img{
        object-fit: cover;
        object-position: center;
        width: 100%;
        height: 180px;
        border-radius: 15px 15px 0 0;
    }

    i{
        position: absolute;
        bottom: 8%;
        right: 7%;
    }

}


/****COEUR****/

.heart__checkbox{
    position: relative;
    width: 30px;
    height: 30px;
}

.heart--empty{
    position: absolute;
    width: 30px;
    height: 30px;
    font-size: 30px;
}

.heart--fill{
    position: absolute;
    width: 30px;
    height: 30px;
    font-size: 30px;
    opacity: 0;
    transition-duration: 0.5s;
    background: -webkit-gradient(linear, left top, left bottom, from(map-get($map: $colors, $key: color-one)), to(map-get($map: $colors, $key: color-two)));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

input {
    position: absolute;
    width: 30px;
    height: 30px;
    opacity: 0;
    cursor: pointer;
    z-index: 10;
}

input:checked ~ .fa-regular {
    transition-duration: 0.5s;
    opacity: 0;
  }

  input:checked ~ .fas {
    transition-duration: 0.5s;
    opacity: 1;
  }


  /****LOADING SPINNER****/

  
.loadingSpinner{
    position: fixed;
    @include flexcenter;
    width: 100%;
    height: 100%;
    z-index: 20;
    background-color: map-get($map: $colors, $key: color-four);
    animation-name: loader;
    animation-duration: .5s;
    animation-delay: 2.5s;
    animation-fill-mode: both;

    @keyframes loader {
        100%{
            opacity: 0;
            z-index:-10;
        }
    }
}


  .lds-ripple {
    display: inline-block;
    position: relative;
    width: 80px;
    height: 80px;
  }
  .lds-ripple div {
    position: absolute;
    border: 4px solid map-get($map: $colors, $key: color-one);
    opacity: 1;
    border-radius: 50%;
    animation: lds-ripple 1s cubic-bezier(0, 0.2, 0.8, 1) infinite;
  }
  .lds-ripple div:nth-child(2) {
    animation-delay: -0.5s;
  }
  @keyframes lds-ripple {
    0% {
      top: 36px;
      left: 36px;
      width: 0;
      height: 0;
      opacity: 0;
    }
    4.9% {
      top: 36px;
      left: 36px;
      width: 0;
      height: 0;
      opacity: 0;
    }
    5% {
      top: 36px;
      left: 36px;
      width: 0;
      height: 0;
      opacity: 1;
    }
    100% {
      top: 0px;
      left: 0px;
      width: 72px;
      height: 72px;
      opacity: 0;
    }
  }
  

  /****BOUTON DES PLATS****/

  .dishe__btn{
    border-radius: 5px;
    border: none;
    width: 250px;
    height: 50px;
    box-shadow: 0px 10px 15px -5px grey;
    overflow: hidden;
    display: flex;
    align-items: center;
    cursor: pointer;
    padding-right: 0;
    background-color: white;
    transition: width 400ms ease-in-out;

    span{
        display: block;
        width: 50px;
        height: 50px;
        padding-right: 10px;
        transform: translateX(0);
        transition: transform 400ms;
        @include flexcenter;
    }

    &:hover{
        width: 200px;
    }
    &:hover .dishe__animation{
        transform: translateX(-50px);
       
    }

    &:hover .dishe__animation i{
        transform: rotate(0);
       
    }

    &:hover .dishe__price{
        transform: translateX(-50px);
    }

}

.dishe__text >* {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    max-width: 100%;

    h3{
    @include textEllipsis;
    font-weight: bold;
    width: fit-content;
    font-size: 14px;
}

    p{
    @include textEllipsis;
    display: flex;
    justify-content: space-between;
    }
}



.dishe__animation{
width: 52px;
height: 60px;
background-color: map-get($map: $colors, $key: color-three);
@include flexcenter;
transform: translateX(0);
transition: transform 400ms; 
margin-right: -50px;

i{
    color: white;
    transform: rotate(-180deg);
    transition: transform 600ms 100ms ease-out;
}
}