/****FONTS****/


h1{
    font-family: "Shrikhand";
}

h2,p, a,li{
    font-family: "Roboto";
}


/****PADDINGS****/

section{
    padding: 0 5%;
}

.presentation{
    text-align: center;
}


/****FOOTER****/

footer{
    background-color: map-get($map: $colors, $key: color-five);
    @include flexcolumn;
    height: 7em;

    img{
        width: 90px;
        height: 20px;   
    }

    a{
        color: white;
        font-size: 13px;
    }
}


