/****FONTS****/


h1{
    font-family: "Shrikhand";
}

h2,p, a,li ,div {
    font-family: "Roboto";
}

h2{
    font-size: 20px;
    font-weight: 800;
}

.presentation__title {
    font-family: "Roboto";
    font-size: 23px;
    width: 70%;
    margin: auto;
    font-weight: bolder;
}


/****PADDINGS MARGINS****/

section{
    padding: 0 5%;
    margin-top: 20px;
}




/****HEADERS****/

.header__landing{
    width:100%;
    height: fit-content;
    @include flexcolumn;

    figure{
        width: 100%;
        height: 60px;
        @include flexcenter;
        z-index: 10;
        box-shadow: 0 0 10px 0 gray;

        img{
            width: 150px;
            height: 35px;
        }
    }

    &--location{
        width: 100%;
        height: 60px;
        background-color: map-get($map: $colors, $key: color-four);
        @include flexcenter;
        z-index: 5;

        i{
            margin-right: 5px;
        }

    }    
}

.presentation{
    text-align: center;
    width: 100%;
    height: 200px;
    background: -webkit-gradient(linear, left top, left bottom, from(white), to(map-get($map:$colors, $key: color-four)));

    p{
        margin-top: 10px;
    }

    &__link{
        margin: 20px auto;
        width: 220px;
        height: 50px;
        -webkit-text-fill-color: white;
        border-radius: 60px;
        background: -webkit-gradient(linear, left top, left bottom, from(map-get($map: $colors, $key: color-two)), to(map-get($map: $colors, $key: color-one)));
        @include flexcenter;
    }
}

.navbar{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
/****FOOTER****/

footer{
    background-color: map-get($map: $colors, $key: color-five);
    @include flexcolumn;
    height: 150px;
    padding-left: 5%;
    margin-top: 40px;
    bottom: 0;

    img{
        width: 90px;
        height: 40px; 
        padding-top: 5px;
        padding-bottom: 5px;  
    }

    a{
        color: white;
        font-size: 13px;
        padding-top: 5px;

        i{
            margin-right: 10px;
        }
    }
}


