/****FONTS****/


h1{
    font-family: "Shrikhand";
}

h2,p, a,li{
    font-family: "Roboto";
}


/****PADDINGS****/

section{
    padding: 0 5%;
}




/****HEADERS****/

.header__landing{
    width:100%;
    height: fit-content;
    @include flexcolumn;

    figure{
        width: 100%;
        height: 60px;
        @include flexcenter;
        z-index: 10;
        box-shadow: 0 0 10px 0 gray;

        img{
            width: auto;
            height: 35px;
        }
    }

    &--location{
        width: 100%;
        height: 60px;
        background-color: map-get($map: $colors, $key: color-four);
        @include flexcenter;
        z-index: 5;

        i{
            margin-right: 5px;
        }

    }    
}

.presentation{
    text-align: center;
    width: 100%;
    height: 150px;
    background: -webkit-gradient(linear, left top, left bottom, from(white), to(map-get($map:$colors, $key: color-four)));

    &__link{
        margin: auto;
        width: 220px;
        height: 50px;
        -webkit-text-fill-color: white;
        border-radius: 60px;
        background: -webkit-gradient(linear, left top, left bottom, from(map-get($map: $colors, $key: color-two)), to(map-get($map: $colors, $key: color-one)));
        @include flexcenter;
    }
}

/****FOOTER****/

footer{
    background-color: map-get($map: $colors, $key: color-five);
    @include flexcolumn;
    height: 7em;

    img{
        width: 90px;
        height: 20px;   
    }

    a{
        color: white;
        font-size: 13px;
    }
}


