/****RESTAURANTS****/


.header__restaurant{
    width: 100%;
    height: 60px;
    @include flexcenter;
    position: relative;


    a{
        height: fit-content;
        position: absolute;
        top: 21px;
        left: 7%;

        i{
            font-size: large;
        }
    }

    img{
        width: 50%;
        height: 70%;
    }
}

.main__restaurant{
    height: fit-content;

    section:last-child{
        margin: 30px auto;
    }
}

.img__landing{
    object-fit: cover;
    object-position: center;
    width: 100%;
    height: 15%;
    
}

$num-btn:10;
$anim-dur: 1000ms;
$anim-delay: calc($anim-dur / $num-btn);

.menu__restaurant{
    position: relative;
    margin-top: -5rem;
    width: 100%;
    border-radius: 2em 2em 0 0;
    background-color: map-get($map: $colors, $key: color-four);

    h1{
        padding-top: 15px;
        display: flex;
        justify-content: space-between;
        margin-bottom: 10px;

        &:not(i){
            font-size: 21px;
        }
    }

    h2{
        font-size: 14px;
        margin-top: 20px;
        margin-bottom: 20px;
    }

    button{
        opacity: 1;
        animation: appear 1s cubic-bezier(.39,.22,1,.13) backwards;
        @for $i from 1 through $num-btn{
            &--#{$i} {
                animation-delay: $anim-delay * $i;
            }
        }
        
    }
}
@keyframes appear {
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
    
}
.title__underline{
    border-bottom: 4px solid map-get($map: $colors, $key: color-three);
}   







