/*! minireset.css v0.0.6 | MIT License | github.com/jgthms/minireset.css */
html, body, p, ol, ul, li, dl, dt, dd, blockquote, figure, fieldset, legend, textarea, pre, iframe, hr, h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
}

h1, h2, h3, h4, h5, h6 {
  font-size: 100%;
  font-weight: normal;
}

ul {
  list-style: none;
}

button, input, select {
  margin: 0;
}

html {
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
}

img, video {
  height: auto;
  max-width: 100%;
}

iframe {
  border: 0;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

td, th {
  padding: 0;
}

a {
  text-decoration: none;
}

/*  1-Variables
    2-Fonctions
    3-Mixins
    4-Placeholders
*/
/****COLORS****/
/****ANIMATION MENU OPACITY****/
/****FLEX****/
/****TEXTE ELLIPSIS****/
/****BOX SHADOW****/
/****BORDERBOX****/
*, ::before, ::after {
  box-sizing: border-box;
}

/****FONTS****/
@font-face {
  font-family: "Roboto";
  src: url(../fonts/Roboto/Roboto-Regular.ttf) format("truetype");
}
@font-face {
  font-family: "Shrikhand";
  src: url(../fonts/Shrikhand/Shrikhand-Regular.ttf) format("truetype");
}
.btn {
  width: 275px;
  height: 50px;
  border-radius: 15px;
  background-color: #f6f6f6;
  display: flex;
  position: relative;
  border: none;
  margin: 10px 0;
  box-shadow: 0 3px 10px -2px rgb(50, 60, 55);
}
.btn__order {
  position: absolute;
  left: -10px;
  top: 15px;
  width: 20px;
  height: 20px;
  border-radius: 100%;
  color: white;
  background-color: #9356DC;
  display: flex;
  justify-content: center;
  align-items: center;
}
.btn__link {
  width: 250px;
  height: 50px;
  color: black;
}
.btn i {
  position: absolute;
  top: 15px;
  bottom: 0;
  left: 20px;
}
.btn__text {
  position: absolute;
  top: 15px;
  left: 40px;
  font-size: 15px;
}

.card {
  box-shadow: 0 3px 10px -2px rgb(50, 60, 55);
  border-radius: 25px;
  position: relative;
  margin: 20px 0;
}
.card__flag {
  position: absolute;
  top: 10px;
  right: 22px;
  width: 80px;
  height: 24px;
  background-color: #99E2D0;
  border-radius: 5px;
}
.card__flag p {
  color: #1b6150 !important;
  font-size: 15px;
}
.card a {
  text-decoration: none;
}
.card h3, .card p {
  color: black;
  padding-left: 10px;
  padding-top: 2px;
}
.card h3 {
  font-weight: bold;
}
.card img {
  object-fit: cover;
  object-position: center;
  width: 100%;
  height: 180px;
  border-radius: 25px 25px 0 0;
}
.card .heart__checkbox {
  position: absolute;
  bottom: 7%;
  right: 4%;
}
.card figcaption {
  height: 50px;
}

/****COEUR****/
.heart__checkbox {
  position: relative;
  width: 22px;
  height: 22px;
  font-size: 22px;
}

.heart--empty {
  position: absolute;
  width: 22px;
  height: 22px;
  font-size: 22px;
  color: black;
}

.heart--fill {
  position: absolute;
  width: 22px;
  height: 22px;
  font-size: 22px;
  opacity: 0;
  transition-duration: 0.5s;
  background: -webkit-gradient(linear, left top, left bottom, from(#9356DC), to(#FF79DA));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

input {
  position: absolute;
  width: 22px;
  height: 22px;
  opacity: 0;
  cursor: pointer;
  z-index: 10;
}

input:checked ~ .fa-regular {
  transition-duration: 0.5s;
  opacity: 0;
}

input:checked ~ .fas {
  transition-duration: 0.5s;
  opacity: 1;
}

/****LOADING SPINNER****/
.loadingSpinner {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  z-index: 20;
  background-color: #f6f6f6;
  animation-name: loader;
  animation-duration: 0.5s;
  animation-delay: 1.75s;
  animation-fill-mode: both;
}
@keyframes loader {
  100% {
    opacity: 0;
    z-index: -10;
  }
}

.lds-ripple {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}

.lds-ripple div {
  position: absolute;
  border: 4px solid #9356DC;
  opacity: 1;
  border-radius: 50%;
  animation: lds-ripple 1s cubic-bezier(0, 0.2, 0.8, 1) infinite;
}

.lds-ripple div:nth-child(2) {
  animation-delay: -0.5s;
}

@keyframes lds-ripple {
  0% {
    top: 36px;
    left: 36px;
    width: 0;
    height: 0;
    opacity: 0;
  }
  4.9% {
    top: 36px;
    left: 36px;
    width: 0;
    height: 0;
    opacity: 0;
  }
  5% {
    top: 36px;
    left: 36px;
    width: 0;
    height: 0;
    opacity: 1;
  }
  100% {
    top: 0px;
    left: 0px;
    width: 72px;
    height: 72px;
    opacity: 0;
  }
}
/****BOUTON DES PLATS****/
.dishe {
  width: 350px;
  height: 50px;
  border-radius: 10px;
  display: flex;
  overflow: hidden;
  max-width: 100%;
  cursor: pointer;
  border: none;
  appearance: none;
  text-align: unset;
  align-items: center;
  padding: initial;
  writing-mode: unset;
  margin: 10px 0;
  box-shadow: 0 3px 10px -2px rgb(50, 60, 55);
}
.dishe__description {
  width: 100%;
  display: flex;
  max-width: 100%;
  overflow: hidden;
}
.dishe__icone {
  width: 100px;
  height: 100%;
  background: #99E2D0;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: -100px;
  transition-duration: 0.5s;
  transition-timing-function: ease;
}
.dishe:hover .dishe__icone {
  margin-right: 0;
  transition-duration: 0.5s;
  transition-timing-function: ease;
}
.dishe:hover .dishe__icone i {
  transform: rotate(0);
}

.dishe__text {
  width: 100%;
  margin-left: 10px;
  max-width: 100%;
  overflow: hidden;
}

.dishe__price {
  display: flex;
  align-items: flex-end;
  margin-bottom: 5px;
  margin-right: 5px;
  margin-left: 5px;
  max-width: 100%;
}

.dishe__icone > i {
  color: #99E2D0;
  padding: 5px;
  border-radius: 50%;
  background: white;
  transform: rotate(-180deg);
  transition: transform 0.5s;
}

.dishe__text > * {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  max-width: 100%;
}

/****FONTS****/
h1 {
  font-family: "Shrikhand";
}

h2, p, a, li {
  font-family: "Roboto";
}

/****PADDINGS MARGINS****/
section {
  padding: 0 5%;
  margin-top: 20px;
}

/****HEADERS****/
.header__landing {
  width: 100%;
  height: fit-content;
  display: flex;
  flex-direction: column;
}
.header__landing figure {
  width: 100%;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 10;
  box-shadow: 0 0 10px 0 gray;
}
.header__landing figure img {
  width: 150px;
  height: 35px;
}
.header__landing--location {
  width: 100%;
  height: 60px;
  background-color: #f6f6f6;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 5;
}
.header__landing--location i {
  margin-right: 5px;
}

.presentation {
  text-align: center;
  width: 100%;
  height: 150px;
  background: -webkit-gradient(linear, left top, left bottom, from(white), to(#f6f6f6));
}
.presentation__link, .order__link {
  margin: 10px auto;
  width: 220px;
  height: 50px;
  -webkit-text-fill-color: white;
  border-radius: 60px;
  background: -webkit-gradient(linear, left top, left bottom, from(#FF79DA), to(#9356DC));
  display: flex;
  justify-content: center;
  align-items: center;
}

.navbar {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

/****FOOTER****/
footer {
  background-color: rgb(50, 60, 55);
  display: flex;
  flex-direction: column;
  height: 150px;
  padding-left: 5%;
  margin-top: 40px;
}
footer img {
  width: 90px;
  height: 40px;
  padding-top: 5px;
  padding-bottom: 5px;
}
footer a {
  color: white;
  font-size: 13px;
  padding-top: 5px;
}
footer a i {
  margin-right: 10px;
}

/****RESTAURANTS****/
.header__restaurant {
  width: 100%;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  background-color: white;
}
.header__restaurant a {
  height: fit-content;
  position: absolute;
  top: 21px;
  left: 7%;
}
.header__restaurant a i {
  font-size: large;
  color: black;
}
.header__restaurant img {
  width: 150px;
  height: 35px;
}

.main__restaurant {
  height: fit-content;
}
.main__restaurant section:last-child {
  margin: 30px auto;
}

.img__landing {
  object-fit: cover;
  object-position: center;
  width: 100%;
  height: 300px;
}
.img__landing img {
  width: 100%;
  height: 100%;
}

.menu__restaurant {
  position: relative;
  margin-top: -5rem;
  width: 100%;
  border-radius: 2em 2em 0 0;
  background-color: #f6f6f6;
  padding-bottom: 20px;
}
.menu__restaurant h1:not(i) {
  font-size: 21px;
}
.menu__restaurant h2 {
  font-size: 14px;
  margin-top: 20px;
  margin-bottom: 20px;
}
.menu__restaurant .button {
  opacity: 1;
  animation: appear 1s cubic-bezier(0.39, 0.22, 1, 0.13);
  animation-fill-mode: both;
}
.menu__restaurant .button--1 {
  animation-delay: 100ms;
}
.menu__restaurant .button--2 {
  animation-delay: 200ms;
}
.menu__restaurant .button--3 {
  animation-delay: 300ms;
}
.menu__restaurant .button--4 {
  animation-delay: 400ms;
}
.menu__restaurant .button--5 {
  animation-delay: 500ms;
}
.menu__restaurant .button--6 {
  animation-delay: 600ms;
}
.menu__restaurant .button--7 {
  animation-delay: 700ms;
}
.menu__restaurant .button--8 {
  animation-delay: 800ms;
}
.menu__restaurant .button--9 {
  animation-delay: 900ms;
}
.menu__restaurant .button--10 {
  animation-delay: 1000ms;
}

@keyframes appear {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.title__underline {
  border-bottom: 4px solid #99E2D0;
}

.name__restaurant {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  padding: 10px 0;
}

.dishe__container {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

@media screen and (min-width: 900px) {
  .img__landing {
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: -10000;
    top: 0;
  }
  .menu__restaurant {
    width: 90%;
    margin: auto;
    margin-top: 120px;
    background-color: rgba(246, 246, 246, 0.5647058824);
    border-radius: 2em;
  }
}

/*# sourceMappingURL=style.css.map */
