/*! minireset.css v0.0.6 | MIT License | github.com/jgthms/minireset.css */
html, body, p, ol, ul, li, dl, dt, dd, blockquote, figure, fieldset, legend, textarea, pre, iframe, hr, h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
}

h1, h2, h3, h4, h5, h6 {
  font-size: 100%;
  font-weight: normal;
}

ul {
  list-style: none;
}

button, input, select {
  margin: 0;
}

html {
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
}

img, video {
  height: auto;
  max-width: 100%;
}

iframe {
  border: 0;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

td, th {
  padding: 0;
}

a {
  text-decoration: none;
}

/*  1-Variables
    2-Fonctions
    3-Mixins
    4-Placeholders
*/
/****COLORS****/
/****FLEX****/
/****TEXTE ELLIPSIS****/
/****BORDERBOX****/
*, ::before, ::after {
  box-sizing: border-box;
}

/****FONTS****/
@font-face {
  font-family: "Roboto";
  src: url(../fonts/Roboto/Roboto-Regular.ttf) format("truetype");
}
@font-face {
  font-family: "Shrikhand";
  src: url(../fonts/Shrikhand/Shrikhand-Regular.ttf) format("truetype");
}
.btn {
  width: 250px;
  height: 50px;
  border-radius: 15px;
  background-color: #f6f6f6;
  display: flex;
  position: relative;
  border: none;
}
.btn__order {
  position: absolute;
  left: -10px;
  top: 15px;
  width: 20px;
  height: 20px;
  border-radius: 100%;
  color: white;
  background-color: #9356DC;
  display: flex;
  justify-content: center;
  align-items: center;
}
.btn__link {
  width: 250px;
  height: 50px;
  color: black;
}
.btn i {
  position: absolute;
  top: 15px;
  bottom: 0;
  left: 20px;
}
.btn__text {
  position: absolute;
  top: 15px;
  left: 40px;
}

.card {
  border: 1px solid #f6f6f6;
  border-radius: 15px;
  position: relative;
}
.card a {
  text-decoration: none;
}
.card h3, .card p {
  padding: 1%;
}
.card img {
  object-fit: cover;
  object-position: center;
  width: 100%;
  height: 180px;
  border-radius: 15px 15px 0 0;
}
.card i {
  position: absolute;
  bottom: 8%;
  right: 7%;
}

/****COEUR****/
.heart__checkbox {
  position: relative;
  width: 30px;
  height: 30px;
}

.heart--empty {
  position: absolute;
  width: 30px;
  height: 30px;
  font-size: 30px;
}

.heart--fill {
  position: absolute;
  width: 30px;
  height: 30px;
  font-size: 30px;
  opacity: 0;
  transition-duration: 0.5s;
  background: -webkit-gradient(linear, left top, left bottom, from(#9356DC), to(#FF79DA));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

input {
  position: absolute;
  width: 30px;
  height: 30px;
  opacity: 0;
  cursor: pointer;
  z-index: 10;
}

input:checked ~ .fa-regular {
  transition-duration: 0.5s;
  opacity: 0;
}

input:checked ~ .fas {
  transition-duration: 0.5s;
  opacity: 1;
}

/****LOADING SPINNER****/
.loadingSpinner {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  z-index: 20;
  background-color: #f6f6f6;
  animation-name: loader;
  animation-duration: 0.5s;
  animation-delay: 2.5s;
  animation-fill-mode: both;
}
@keyframes loader {
  100% {
    opacity: 0;
    z-index: -10;
  }
}

.lds-ripple {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}

.lds-ripple div {
  position: absolute;
  border: 4px solid #9356DC;
  opacity: 1;
  border-radius: 50%;
  animation: lds-ripple 1s cubic-bezier(0, 0.2, 0.8, 1) infinite;
}

.lds-ripple div:nth-child(2) {
  animation-delay: -0.5s;
}

@keyframes lds-ripple {
  0% {
    top: 36px;
    left: 36px;
    width: 0;
    height: 0;
    opacity: 0;
  }
  4.9% {
    top: 36px;
    left: 36px;
    width: 0;
    height: 0;
    opacity: 0;
  }
  5% {
    top: 36px;
    left: 36px;
    width: 0;
    height: 0;
    opacity: 1;
  }
  100% {
    top: 0px;
    left: 0px;
    width: 72px;
    height: 72px;
    opacity: 0;
  }
}
/****BOUTON DES PLATS****/
.dishe__price {
  width: 50px;
  height: 50px;
  padding-right: 10px;
  transition: width 400ms;
  position: relative;
}
.dishe__price span {
  position: sticky;
  left: 10px;
  bottom: 10px;
}

.dishe__btn {
  border-radius: 5px;
  border: none;
  width: 250px;
  height: 50px;
  box-shadow: 0px 10px 15px -5px grey;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
  padding-right: 0;
  background-color: white;
  transition: width 400ms ease-in-out;
}
.dishe__btn:hover .dishe__animation {
  transform: translateX(-50px);
}
.dishe__btn:hover .dishe__animation i {
  transform: rotate(0);
}
.dishe__btn:hover .dishe__price {
  width: 100px;
}

.dishe__text {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  display: flex;
  justify-content: space-between;
  /*max-width: 100%;*/
}
.dishe__text h3 {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  font-weight: bold;
  width: fit-content;
  font-size: 14px;
}
.dishe__text p {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  display: flex;
  justify-content: space-between;
}

.dishe__animation {
  width: 50px;
  height: 60px;
  background-color: #99E2D0;
  display: flex;
  justify-content: center;
  align-items: center;
  transform: translateX(0);
  transition: transform 400ms;
  margin-right: -50px;
}
.dishe__animation i {
  color: white;
  transform: rotate(-180deg);
  transition: transform 600ms 100ms ease-out;
}

/****FONTS****/
h1 {
  font-family: "Shrikhand";
}

h2, p, a, li {
  font-family: "Roboto";
}

/****PADDINGS****/
section {
  padding: 0 5%;
}

/****HEADERS****/
.header__landing {
  width: 100%;
  height: fit-content;
  display: flex;
  flex-direction: column;
}
.header__landing figure {
  width: 100%;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 10;
  box-shadow: 0 0 10px 0 gray;
}
.header__landing figure img {
  width: auto;
  height: 35px;
}
.header__landing--location {
  width: 100%;
  height: 60px;
  background-color: #f6f6f6;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 5;
}
.header__landing--location i {
  margin-right: 5px;
}

.presentation {
  text-align: center;
  width: 100%;
  height: 150px;
  background: -webkit-gradient(linear, left top, left bottom, from(white), to(#f6f6f6));
}
.presentation__link {
  margin: auto;
  width: 220px;
  height: 50px;
  -webkit-text-fill-color: white;
  border-radius: 60px;
  background: -webkit-gradient(linear, left top, left bottom, from(#FF79DA), to(#9356DC));
  display: flex;
  justify-content: center;
  align-items: center;
}

/****FOOTER****/
footer {
  background-color: rgb(50, 60, 55);
  display: flex;
  flex-direction: column;
  height: 7em;
}
footer img {
  width: 90px;
  height: 20px;
}
footer a {
  color: white;
  font-size: 13px;
}

/****RESTAURANTS****/
.header__restaurant {
  width: 100%;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
.header__restaurant a {
  height: fit-content;
  position: absolute;
  top: 21px;
  left: 7%;
}
.header__restaurant a i {
  font-size: large;
}
.header__restaurant img {
  width: 50%;
  height: 70%;
}

.main__restaurant {
  height: fit-content;
}

.img__landing {
  object-fit: cover;
  object-position: center;
  width: 100%;
  height: 15%;
}

.menu__restaurant {
  position: relative;
  margin-top: -5rem;
  width: 100%;
  border-radius: 2em 2em 0 0;
  background-color: #f6f6f6;
}
.menu__restaurant h1 {
  padding-top: 15px;
  display: flex;
  justify-content: space-between;
}
.menu__restaurant h1:not(i) {
  font-size: 21px;
}
.menu__restaurant h2 {
  font-size: 14px;
}

/*# sourceMappingURL=style.css.map */
