/*  1-Variables
    2-Fonctions
    3-Mixins
    4-Placeholders
*/

/****COLORS****/

$colors:(color-one:#9356DC, color-two:#FF79DA,color-three:#99E2D0,color-four:rgb(243, 240, 239),color-five:rgb(50, 60, 55));



/****FLEX****/
@mixin flexcolumn {
    display: flex;
    flex-direction: column; 
    
}
@mixin flexcenter {
    display: flex;
    justify-content: center;
    align-items: center; 
    
}





       

