/*  1-Variables
    2-Fonctions
    3-Mixins
    4-Placeholders
*/

/****COLORS****/

$colors:(color-one:#9356DC, color-two:#FF79DA,color-three:#99E2D0,color-four:#f6f6f6,color-five:rgb(50, 60, 55));



/****FLEX****/

@mixin flexcolumn {
    display: flex;
    flex-direction: column; 
    
}
@mixin flexcenter {
    display: flex;
    justify-content: center;
    align-items: center; 
    
}

/****TEXTE ELLIPSIS****/

@mixin textEllipsis {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    
}







       

